.header {
    text-align: left;
}

.single-comment{
    border: 5px;
    border-style: solid;
    border-color: black;
    border-radius: 25px;
    background-color: white;
    max-width: 60%;
    margin: auto;
    margin-bottom: 1em;
    padding: 1%;
}

.comment-form{
    border: 5px;
    border-style: solid;
    border-color: black;
    border-radius: 25px;
    background-color: white;
}

.align-left{
    text-align: left;
}